/* Navbar */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background:black;
    
}

.uk-heading-line {
    color: rgb(212, 209, 209)
}

span {
    color: whitesmoke;
}

a {
    color: rgb(212, 209, 209);
    margin-right: 15px; 
}
