/* Navbar */

.navbar .navbar-expand-lg .navbar-dark {
    width: 100%;
}

.navbar-brand {
    font-size: 20px;
}

/* Main Content */

h2 {
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e948f;
    font-size: 30px;
    padding-top: 30px;
}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: .8px;
    border-color: #1d1c1c;
    background: #1d1c1c;
    margin-bottom: 20px;

}


.container {
    clear: right;
    min-height: 100%;
    width: 100%;
    margin: 0;


}

body {
    background-image: url("../images/concrete-texture.png");
}


#main {
    width: 960px;
    height: 100%;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: #ffffff;
    border: 1px solid #dddddd;


}


a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


p {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 35px;

}


img {
    float: left;
    padding: 8px;
    padding-right: 20px;
    width: 100%;
    height: auto;
}

/* Footer */

#footer {
    clear: both;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 55px;
    width: 100%;
    background: #1d1c1c;
    border-top: 5px solid #38c7c7;
}


.footercontent {
    padding-top: 30px;
    text-align: center;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}

/* Portfolio */

.card {
    margin: 10px;
    background: #38c7c7;
}

.card-text {
    color: #ffffff;
}

.card-image-top {
    max-width: 100%;
    height: auto;
}

/* Contact Form */

input,
textarea {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #dddddd;

}

.form-control-submit {
    background: #296460;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

/* Media */

@media screen and (min-width: 768px) {
    #main {
        width: 100% auto;
    }

}


@media screen and (max-width: 768px) {
    #container {
        width: 100%;
        padding: 20px;
    }

    #main {
        width: 100%;
    }

}